In [1]:
# Import Dependencies
import pandas as pd
import os
from pathlib import Path

In [2]:
# Save path to data set in a variable
schools_complete = r'C:\Users\avisr\OneDrive\Desktop\Avis\GRO MH Tools GRANDE\NORTHWESTERN UNIVERSITY BOOTCAMP\HOMEWORK\PANDAS Hmwk 4\PyCitySchools\Pandas-Challenge\Starter_Code\PyCitySchools\Resources\schools_complete.csv'
students_complete = r'C:\Users\avisr\OneDrive\Desktop\Avis\GRO MH Tools GRANDE\NORTHWESTERN UNIVERSITY BOOTCAMP\HOMEWORK\PANDAS Hmwk 4\PyCitySchools\Pandas-Challenge\Starter_Code\PyCitySchools\Resources\students_complete.csv'

In [3]:
students_complete_list = [["Student ID", "student_name", "gender", "grade", "school_name", "reading_score", "math_score"]]
schools_complete_list = [["School ID", "school_name", "type", "size", "budget"]]

In [4]:
# Use Pandas to read data
# Read School and Student Data File and store into Pandas DataFrames
schools_complete_df = pd.read_csv(schools_complete)
schools_complete_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
# Use Pandas to read data
# Read School and Student Data File and store into Pandas DataFrames
students_complete_df = pd.read_csv(students_complete)
students_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(students_complete_df, schools_complete_df, on=["school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
#4Pandas Day1 Activity 11 Stu_ComicBooksSummarySolved
Total_number_of_unique_schools = len(school_data_complete["school_name"].unique())
Total_number_of_unique_schools

15

In [8]:
Total_students = len(school_data_complete["Student ID"])
Total_students

39170

In [9]:
total_budget = schools_complete_df['budget'].sum()
total_budget

24649428

In [10]:
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [11]:
avg_reading_score = school_data_complete['reading_score'].mean()
avg_reading_score

81.87784018381414

In [12]:
passed_math = school_data_complete['math_score'] >= 70
passed_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [13]:
passed_reading = school_data_complete['reading_score'].sum() >= 70
passed_reading

True

In [14]:
passed_both = passed_math & passed_reading 
passed_both

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [15]:
total_students_passed_math = school_data_complete[school_data_complete['math_score'] >= 70].count()["student_name"]
total_students_passed_math

29370

In [16]:
total_students_passed_reading = school_data_complete[school_data_complete['reading_score'] >= 70].count()["student_name"]
total_students_passed_reading

33610

In [17]:
total_students_passed_both = school_data_complete[(school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] >= 70)].count()["student_name"]
total_students_passed_both

25528

In [18]:
perc_math = (total_students_passed_math/Total_students)*100
perc_math

74.9808526933878

In [19]:
perc_reading = (total_students_passed_reading/Total_students)*100
perc_reading

85.80546336482001

In [20]:
overall_passing = (total_students_passed_both/Total_students)*100
overall_passing

65.17232575950983

In [50]:
#create district summary
district_data_dict = {
    "Total Schools": Total_number_of_unique_schools, 
    "Total Students": Total_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score, 
    "% Passing Math": perc_math,
    "% Passing Reading": perc_reading,
    "% Overall Passing": overall_passing,    
}

district_summary_df = pd.DataFrame(district_data_dict, index=[0])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [51]:
#Create School Summary
#School_Types = school_data_complete["type"].unique()

#print(School_Types)

['District' 'Charter']

In [71]:
School_Types = school_data_complete.groupby(['school_name'])['type'].unique()
School_Types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [67]:
School_Names = school_data_complete["school_name"].unique()

print(School_Names)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [53]:
# Calculate the total student count per school
per_school_counts = school_data_complete['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [54]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data_complete.groupby(['school_name'])['budget'].mean()
per_school_budget



#= ['Total Students'] / ['Total_Budget']
#per_cap_spdg

#per_cap_spdg = school_data_complete['Total Students'] / school_data_complete['Total Budget']
#per_cap_spdg

#per_cap_spdg = Total_Budget)/(school_data_complete["Student ID"].unique())
#per_cap_spdg

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [55]:
per_school_capita = per_school_budget/per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [56]:
# Calculate the average math test scores per school
per_school_math = school_data_complete.groupby(['school_name'])['math_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [57]:
# Calculate the average reading test scores per school
per_school_reading = school_data_complete.groupby(['school_name'])['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [58]:
# Calculate the number of students per school with math scores of 70 or higher
schools_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()

schools_passing_math

#students_passing_math = school_data_complete.groupby(['school_name'])(['math_score'])>= 70.mean()

#students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].sum()

#per_school_reading = school_data_complete.groupby(['school_name'])['reading_score'].mean()
#per_school_reading

#students_passing_math = school_data_complete[(school_data_complete['math_score']) >= 70].groupby('school_name').value_counts()

#school_data_complete.groupby(['school_name'])['math_score'] >= 70
#students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [59]:
# Calculate the number of students per school with reading scores of 70 or higher
schools_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()

schools_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [60]:
overallpass_df = school_data_complete[(school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] >= 70)]
overallpass_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [61]:
perc_schools_passing_math = (schools_passing_math / per_school_counts) * 100
perc_schools_passing_reading = (schools_passing_reading / per_school_counts) * 100
perc_overallpass_df = (overallpass_df / per_school_counts) * 100

In [87]:
#create district summary
SCHOOL_data_dict = {
    "School Types": School_Types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_budget,
    "Average Scl Math Score": per_school_math,
    "Average Scl Reading Score": per_school_reading, 
    "SCL % Passing Math": perc_schools_passing_math,
    "SCL % Passing Reading": perc_schools_passing_reading,
    "SCL % Overall Passing": perc_overallpass_df    
}


# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(SCHOOL_data_dict)
#.groupby(['school_name']).sum()

per_school_summary

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [83]:
#Sort descending (high to low) use ascending=False
 
top_schools_sorted = overallpass_df.groupby('school_name')

#top_schools_sorted = overallpass_df.sort_values(by='school_name', ascending = False)
#top_schools_sorted.head(5)
top_schools_sorted

In [85]:
top_schools_sorted = overallpass_df.sort_values(by='school_name', ascending = False)

top_schools_sorted

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
24253,24253,Phillip Martinez,M,10th,Wright High School,97,91,10,Charter,1800,1049400
24636,24636,Anthony Snyder,M,11th,Wright High School,77,77,10,Charter,1800,1049400
24624,24624,Amy Ramsey,F,9th,Wright High School,92,89,10,Charter,1800,1049400
24625,24625,Molly Cruz,F,10th,Wright High School,76,85,10,Charter,1800,1049400
24626,24626,Jennifer Cooper,F,9th,Wright High School,99,76,10,Charter,1800,1049400
...,...,...,...,...,...,...,...,...,...,...,...
21221,21221,Kevin Flowers,M,10th,Bailey High School,92,76,7,District,4976,3124928
21219,21219,Pamela Hunter,F,11th,Bailey High School,74,82,7,District,4976,3124928
21215,21215,Daniel Lee,M,10th,Bailey High School,73,74,7,District,4976,3124928
21214,21214,Tara Marsh,F,9th,Bailey High School,94,90,7,District,4976,3124928
18772,18772,Brandi Little,F,11th,Bailey High School,98,91,7,District,4976,3124928

In [80]:
bottom_schools_sorted = overallpass_df.sort_values(by='school_name', ascending = False)

bottom_schools_sorted.tail(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
21221,21221,Kevin Flowers,M,10th,Bailey High School,92,76,7,District,4976,3124928
21219,21219,Pamela Hunter,F,11th,Bailey High School,74,82,7,District,4976,3124928
21215,21215,Daniel Lee,M,10th,Bailey High School,73,74,7,District,4976,3124928
21214,21214,Tara Marsh,F,9th,Bailey High School,94,90,7,District,4976,3124928
18772,18772,Brandi Little,F,11th,Bailey High School,98,91,7,District,4976,3124928

In [43]:
mathsc_by_grade_df = overallpass_df.groupby('grade').mean ()
mathsc_by_grade_df

,Student ID,reading_score,math_score,School ID,size,budget
grade,,,,,,
10th,19581.953853,84.376414,84.520887,6.980244,3036.517871,1.916929e+06
11th,19680.859655,84.585617,84.485665,7.023127,3043.698400,1.920536e+06
12th,19371.297271,84.498635,84.493177,6.901170,3042.190253,1.920494e+06
9th,19658.991146,84.391199,84.347196,7.005635,3073.344915,1.941771e+06

In [44]:
readingsc_by_grade_df = overallpass_df.groupby('grade').mean ()
readingsc_by_grade_df

,Student ID,reading_score,math_score,School ID,size,budget
grade,,,,,,
10th,19581.953853,84.376414,84.520887,6.980244,3036.517871,1.916929e+06
11th,19680.859655,84.585617,84.485665,7.023127,3043.698400,1.920536e+06
12th,19371.297271,84.498635,84.493177,6.901170,3042.190253,1.920494e+06
9th,19658.991146,84.391199,84.347196,7.005635,3073.344915,1.941771e+06

In [45]:
scores_by_budget_df = overallpass_df.groupby('budget').mean ()
scores_by_budget_df

           Student ID  reading_score  math_score  School ID    size
budget
248087   23061.007874      84.482940   85.007874        8.0   427.0
585858   23755.543054      84.763490   84.721010        9.0   962.0
917500   13001.257895      84.221805   84.454135        4.0  1468.0
1043130  38357.862811      84.261601   84.506389       14.0  1635.0
1049400  25131.258918      84.471095   84.708487       10.0  1800.0
1056600   6741.636766      84.260897   84.411244        2.0  1761.0
1081356  16941.093695      84.414260   84.015910        6.0  1858.0
1319574  14872.617505      84.569632   84.256770        5.0  2283.0
1763916  36148.922663      84.747142   84.204438       13.0  2739.0
1884411   4392.129382      84.797960   84.090504        1.0  2949.0
1910635   1473.962844      84.662396   84.277386        0.0  2917.0
2547363  28049.389807      84.280793   84.336008       11.0  3999.0
3022020   9938.970173      84.519952   84.991133        3.0  4635.0
3094650  32452.370341      84.343664   84.663005       12.0  4761.0
3124928  20373.668628      84.336889   84.429570        7.0  4976.0

In [46]:
overallpass_df['budget']

4        1910635
5        1910635
6        1910635
8        1910635
9        1910635
          ...
39165    1043130
39166    1043130
39167    1043130
39168    1043130
39169    1043130
Name: budget, Length: 25528, dtype: int64

In [47]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

spending_summary = pd.cut(overallpass_df['budget'], spending_bins, labels=labels).head()
spending_summary

4    NaN
5    NaN
6    NaN
8    NaN
9    NaN
Name: budget, dtype: category
Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']

In [48]:
spending_math_scores = overallpass_df.groupby(["budget"])["math_score"].mean()
spending_reading_scores = overallpass_df.groupby(["budget"])["reading_score"].mean()
spending_passing_math = overallpass_df.groupby(["budget"])["% Passing Math"].mean()
spending_passing_reading = overallpass_df.groupby(["budget"])["% Passing Reading"].mean()
overall_passing_spending = overallpass_df.groupby("budget"])["% Overall Passing"].mean()

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3553118408.py, line 5)

In [49]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary = pd.cut(overallpass_df['size'], spending_bins, labels).head()
per_school_summary

4    NaN
5    NaN
6    NaN
8    NaN
9    NaN
Name: size, dtype: category
Categories (4, interval[int64, right]): [(0, 585] < (585, 630] < (630, 645] < (645, 680]]